       {% load static %}
        <nav id="navigation">
			<div class="container">
				<div id="responsive-nav">
					<ul class="main-nav nav navbar-nav">
						<li class="active"><a href="/home">Головна</a></li>
						<li><a href="/home/about">Про сайт</a></li>
						<li><a href="/catalog/index">Каталог</a></li>
						<li><a href="/home/news">Новини</a></li>
						<li><a href="/home/contacts">Контакти</a></li>
						<li><a href="#">Адмінка</a></li>
					</ul>
                    <ul class="main-nav nav navbar-nav navbar-right">
						<li class="active">
                            <a href="#" style="margin-right: 50px; color: darkcyan">
								Привіт,
								{% if user.is_authenticated %}
									{{ user.username }}
								{% else %}
									Гість
								{% endif %}
							</a>
                        </li>
						{% if not user.is_authenticated %}
							<li><a href="#">Вхід</a></li>
							<li><a href="#">Реєстрація</a></li>
						{% else %}
							<li><a href="#">Вихід</a></li>
							<li><a href="#">Профіль</a></li>
						{% endif %}

					</ul>
				</div>

			</div>
		</nav>